* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-weight: 400;
}

main {
	padding: 1rem .5rem;
	font-size: 1rem;
	line-height: 1;
	max-width: 50rem;
	margin: 0 auto;
	color: #000000;
}

img {
	max-width: 100%;
}

a {
	color: #1f1f1f;
}


.navbar {
	background-color: #00008B;
	font-family: "Oswald", sans-serif;
	min-height: 3rem;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	padding: 0 0 0 1rem;
}
.navbar_link, .navbar_home {
 color: #ffffff;
 text-decoration: none;
}
.navbar_link {
 font-size: 1.25rem;
 margin-right: 1rem;
}
.navbar_chosen {
 text-decoration-line: underline;
}   
.navbar_home {
 flex: 0 0 100%;
 font-size:1.5rem;
 margin-right: auto;
}
.navbar_img {
 fill: #ffffff;
 margin-right: 0.5rem;
}   

.project {
	border-bottom: 4px solid #F0F0F0;
}

.project_title {
	border-bottom-style: dotted;
	font-size: 1.5rem;
	font-weight: bold;
}

.project_subtitle {
	font-size: 1.2rem;
}

.project_caption {
	font-weight: bold;
	font-style: oblique;
}

.project_lang {
	font-style: oblique;
}

.project_repo {
}

@media screen and (min-width: 50rem) {
	
	.navbar {
		flex-flow: row nowrap;
	}
	.navbar_home {
		flex: 1;
	   }

	main {
		border-left: 4px solid #F0F0F0;
		border-right: 4px solid #F0F0F0;
		padding: 1rem 2rem;
	}
}
